@model CaseStudyRM.Models.SearchQuery


@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

<h2>Search Term  = @Model.SearchTerm</h2>
<h2>Media Type = @Model.MediaType</h2>
<h2>URL = @Model.urlBuilder()</h2>
