@using CaseStudy.Models
@model CaseStudy.Models.SearchQuery
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
@using (Html.BeginForm("Search", "SearchQuery",FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SearchTerm)
        @Html.TextBoxFor(m => m.SearchTerm, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MediaType)
        @Html.DropDownListFor(m => m.MediaType,
            new SelectList(Enum.GetValues(typeof(Media))),
            "Select Media",
            new {@class = "form-control"}) 
    </div>
    <button type="submit" class="btn panel-primary" value="submit">Search</button>
    
}


